과제
**/과제/**
*/과제/*
수업자료
*/수업자료/*
**/수업자료/**
.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/.ipynb_checkpoints/**
**/data/**
DKT_mission/i_scream/sample_submission.csv
DKT_mission/i_scream/test_data.csv
DKT_mission/i_scream/train_data.csv
DKT_mission/LightGBM/
DKT_mission/LightGBM_compilation.log
